<!DOCTYPE html>
<html>

    <head>
         <!----CSS File Link---->
         <link rel="stylesheet" type="text/css" href="css/styleScore.css"> </link>
    </head>

    <body>
        <input value="<%= name %>" id="player">

        <!----Question---->
        <div class="containerQuestion">
            <img src = "image/logo-02.png">

            <div align="center"></div>
            
            <div class="font-Q">
                Top Scorer!
            </div>
            

            <div class="font-question" id="Username">
                 
                <br>
                Score : 200
            </div>

            <br>
            <!----Subnit BTN---->
            <a href="index.html" class="btn-submit"> Play again </a>

        </div>

    </body>
</html>