<!DOCTYPE html>
<html>

    <head>
         <!----CSS File Link---->
         <% include ./components/header %>
         <link rel="stylesheet" type="text/css" href="css/styleScore.css"> </link>
    </head>

    <body>
        <input type="hidden" value="<%= name %>" id="player">
        <input type="hidden" value="<%= score %>" id="playerScore">

        <!----Question---->
        <div class="containerQuestion">
            <img src = "image/logo-02.png">

            <div align="center"></div>
            
            <div class="font-Q">
                Top Scorer!
            </div>
            

            <div class="font-question" id="Username"></div>
            <br>
            <div class="font-question" id="Score"></div>   
            

            <br>
            <!----Subnit BTN---->
            <a href="index.html" class="btn-submit"> Play again </a>

        </div>
        <script src="js/score.js"></script>
    </body>
</html>