<!DOCTYPE html>
<html>
    <head>
        <% include ./components/header %>
        <link rel="stylesheet" type="text/css" href="css/style.css"> </link>
    </head>
    <body>
        <div class = "container">
            <img src = "image/logo-02.png">
            <div align="center">
                <div><a class="btn-click">Waiting ...</a></div>
            </div>
            
    </div>
    </body>
</html>